//META{"name":"The Crew 2","description":"A theme inspired by The Crew 2.","author":"Subtisaty","version":"0.1"}*//{}

@font-face {
  font-family: HurmeGeometricSans4;
  src: url(HurmeGeometricSans4-Black.ttf);
}

body{
    #font-family: HurmeGeometricSans4;
}

.typeWindows-1za-n7, .titleBar-AC4pGV{
    background: linear-gradient(270deg, #f3a626, #e60598) !important;
    background-size: 400% 400% !important;
	-webkit-animation: Gradient 3s ease-in-out infinite !important;
	-moz-animation: Gradient 3s ease-in-out infinite !important;
	animation: Gradient 3s ease-in-out infinite !important;
}

.unread-mentions-indicator-top, .da-unreadMentionsIndicatorTop{
    display: none !important;
}

.guild-inner, .da-guildInner{
    border:1px solid #ffdb15;
    #background: linear-gradient(45deg, #f3a626, #e60598) !important;
	-webkit-animation: Gradient 3s ease-in-out infinite;
	-moz-animation: Gradient 3s ease-in-out infinite;
	animation: Gradient 3s ease-in-out infinite;
}

.guilds-wrapper{
  background-color:#42413e !important;

}

.private-channels{
  background-color: white;
}


.private-channels .search-bar{
  background-color: #ffdb15;
  border:none !important;
}

.private-channels ::-webkit-input-placeholder{
  color:black !important;
}

.channel-name{
  color: black !important;
  opacity: 1 !important;
}

.messages{
    z-index: 0;
}

#chat form{
	width: auto;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid white;
    z-index: 1;
    background-color: transparent!important;
    margin: auto;
}

.titleWrapper-1l0xT9{
	#border: 50px solid transparent;

	#border-top: 100px solid white;
	#border-bottom: 100px solid white;
}

.inner-zqa7da flex-1O1GKY, .innerNoAutocomplete-1WpcVO{
    margin-left:20px;
}

#bfredux::before{
    display: none !important;
}

.bf-arrow, .da-bfArrow{
    display: none !important;
}

.guild:hover > .active:hover, .tooltip-right::before, .da-tooltipRight::before {
    display: none !important;
}

.da-tooltips::after{
    content: 'sdfsd';

}

:root{
    color:black !im;
}

.channel{
    padding:5px;
    margin:5px;
    border-radius:5px;
}

.channel:hover{
    background: linear-gradient(270deg, #f3a626, #e60598) !important;
    background-size: 400% 400% !important;
	-webkit-animation: Gradient 3s ease-in-out infinite !important;
	-moz-animation: Gradient 3s ease-in-out infinite !important;
	animation: Gradient 3s ease-in-out infinite !important;
}

@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.channel a{
    background-color:transparent !important;
}

.channel a:hover{
    background-color:transparent;
}

.tooltip-right{
    background-color:#ffdb15 !important;
    color:black;

}
.tooltip-right:after{
    display: none;
}
